:root {
	--lab-spacer-1x: 4px;
	--lab-spacer-2x: 8px;
	--lab-spacer-3x: 12px;
	--lab-spacer-4x: 16px;
	--lab-spacer-5x: 20px;
	--lab-spacer-6x: 24px;
	--lab-spacer-7x: 28px;
	--lab-spacer-8x: 32px;
	--lab-spacer-9x: 36px;
	--lab-spacer-10x: 40px;
	--lab-spacer-11x: 44px;
	--lab-spacer-12x: 48px;
	--lab-spacer-13x: 52px;
	--lab-spacer-14x: 56px;
	--lab-spacer-15x: 60px;
	--lab-spacer-16x: 64px;

	--lab-spacer-radius: 8px;
}
